[submodule "EPII_CM55M_APP_S/library/sscma_micro"]
	path = EPII_CM55M_APP_S/library/sscma_micro
	url = https://github.com/freddy4212/SSCMA-Micro.git
[submodule "EPII_CM55M_APP_S/library/cmsis_cv/CMSIS-CV"]
	path = EPII_CM55M_APP_S/library/cmsis_cv/CMSIS-CV
	url = https://github.com/ARM-software/CMSIS-CV.git
[submodule "EPII_CM55M_APP_S/library/cmsis_cv/CMISI-CV"]
	path = EPII_CM55M_APP_S/library/cmsis_cv/CMISI-CV
	url = https://github.com/ARM-software/CMSIS-CV.git
[submodule "nomi_host"]
	path = nomi_host
	url = https://github.com/freddy4212/nomi_host.git
[submodule "nomi_evaluation"]
	path = nomi_evaluation
	url = https://github.com/freddy4212/nomi_evaluation.git
